{% extends 'base.html.twig' %}

{% block title 'Nexter Agency' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Nexter Agency</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias commodi, deleniti dolorum
            exercitationem fugiat iste, molestiae mollitia neque obcaecati odit placeat reprehenderit, repudiandae unde
            vel vitae voluptatum? Ipsam, necessitatibus?</p>
    </div>

{% endblock %}
