{% extends 'base.html.twig' %}

{% block title 'All our real estate' %}

{% block body %}
    <div class="container mt-4">
        <h1>See all our real estate</h1>
    </div>

{% endblock %}
